<?xml version="1.0" encoding="utf-8"?>
<securityConfig xmlns:config="urn:telerik:sitefinity:configuration" xmlns:type="urn:telerik:sitefinity:configuration:type" config:version="10.0.6400.0" authCookieName=".SFAUTH-MPIWeb" rolesCookieName=".SFROLES-MPIWeb" validationKey="17EABFAA7269CEF2F6FBECFFFCD307AFF9C236764F7559C658D0241483E0F2665C2441BFC9C87F1FA68CF43127793749D3823043DFB58B2B08D158ADEB69DC1B" decryptionKey="A9651E06DB534624BCEE9F6BD70514B0FF07FB51EB27FF5A5CD8C1E7A691E047" loggingCookieName=".SFLOG-MPIWeb">
	<securityTokenIssuers>
		<add key="643D44E5D148CF28B196A9A46DACBEEC8C03D0434A91CEA1B94A9557A1F4E1FF" membershipProvider="Default" realm="http://localhost" />
	</securityTokenIssuers>
	<relyingParties>
		<add key="643D44E5D148CF28B196A9A46DACBEEC8C03D0434A91CEA1B94A9557A1F4E1FF" realm="http://localhost" />
	</relyingParties>
	<applicationRoles>
		<role id="c2e9d6ba-e136-4a0a-9d76-3409d4a0a8a8" name="Everyone" config:flags="1" />
		<role id="1d9c9edc-8718-49f4-9e40-543430560559" name="Anonymous" config:flags="1" />
		<role id="ce7c8d43-1a23-40b7-a4cb-a13d4b9793ef" name="Authenticated" config:flags="1" />
		<role id="fc03e47f-1c46-43a2-89a0-9d6b24cfdb89" name="Owner" config:flags="1" />
		<role id="e8759556-b908-4c98-b99c-546e14e017eb" name="Administrators" config:flags="1" />
		<role id="0223ad4f-2f5f-4eea-93a1-08aa820651a3" name="BackendUsers" config:flags="1" />
		<role id="2c2222ba-aa8a-4770-9dc0-2c6952fb4cef" name="Authors" config:flags="1" />
		<role id="783f6993-d6d9-4422-8d11-8dd51447e89b" name="Editors" config:flags="1" />
		<role id="1384feb7-6e37-4d24-9f33-6b43e33cf36b" name="Designers" config:flags="1" />
		<role id="663f88a6-9d11-4b56-9889-79bbdaf2c756" name="Users" config:flags="1" />
	</applicationRoles>
	<membershipProviders>
		<add title="Customer Support" applicationName="CustomerMembership/" enablePasswordReset="True" maxInvalidPasswordAttempts="5" minRequiredNonalphanumericCharacters="0" minRequiredPasswordLength="7" newPasswordLength="8" passwordAttemptWindow="10" passwordFormat="Encrypted" requiresQuestionAndAnswer="False" requiresUniqueEmail="True" enablePasswordRetrieval="True" type="SitefinityWebApp.Providers.CustomMembershipProvider, SitefinityWebApp" name="CustomMembershipProvider" />
	</membershipProviders>
</securityConfig>